<!-- https://material.angular.io/components/datepicker/overview -->
<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date" [formControl]="start">
    <input matEndDate placeholder="End date" [formControl]="end">
  </mat-date-range-input>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>