header {
    width: 100%;

    display: flex;
    justify-content: center;

    background: rgb(5,41,80);
    background: linear-gradient(90deg, rgba(5,41,80,1) 0%, rgba(9,75,104,1) 50%, rgba(16,126,138,1) 100%);
}

header .wrapper {
    max-width: 1655px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px 35px;
    box-sizing: border-box;
}

header .wrapper img {
    cursor: pointer;
}

header .wrapper .logo {
    display: flex;
    align-items: center;
}

header .wrapper .logo .text {
    height: 16px;
    margin-left: 20px;
}   

header .wrapper .avatar {
    height: 32px;
}
