<header>
    <div class="wrapper">
        <div class="logo">
            <img class="icon" src="/assets/Momentum-logo.svg" alt="momentum-logo">
            <img class="text" src="/assets/Momentum-text.svg" alt="Momentum">
        </div>
        <img class="avatar" src="/assets/account_circle-white-24dp.svg" alt="avatar" [matMenuTriggerFor]="menu" >
        <!--https://material.angular.io/components/menu/overview-->
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>
    </div>
</header>