<div [className]="'actions'">
    <div [className]="'row'">
        <app-date-picker></app-date-picker>
        <div [className]="'buttons'">
            <app-button text="action one"></app-button>
            <app-button text="action two"></app-button>
        </div>        
    </div>
    <div [className]="'selected-funds'">
        <app-autocomplete (selectFundsEvent)="selectedFunds=$event" ></app-autocomplete>
    </div>
</div>
<app-grid [selectedFunds]="selectedFunds"></app-grid>
<app-empty-grid text="Momentum Exceptions"></app-empty-grid>
<app-empty-grid text="Momentum Ratings"></app-empty-grid>