.actions .row {
    display: flex;
    justify-content: space-between;
}

.actions .row .buttons {
    display: flex;
    gap: 20px;
}

.actions .selected-funds h3 {
    font-size: 12px;
    color: var(--lightblue);
}

app-grid,
app-empty-grid {
    display: contents;
}
