<div [className]="'actions'">
    <div [className]="'row'">
        <app-date-picker></app-date-picker>
        <div [className]="'buttons'">
            <app-button text="action one"></app-button>
            <app-button text="action two"></app-button>
        </div>        
    </div>
    <div [className]="'selected-funds'">
        <app-autocomplete (changeFilterEvent)="changeFundClientFilter($event)" ></app-autocomplete>
    </div>
</div>
<app-grid></app-grid>
<app-blank-page text="Momentum Exceptions"></app-blank-page>
<app-blank-page text="Momentum Ratings"></app-blank-page>