.app > .container {
    display: flex;
    justify-content: center;

    margin-top: -24px;
}

.app .container .view {
    display: flex;
    flex-direction: column;

    width: 1287px;

    margin-right: 24px;
    margin-left: 10px;
    padding: 24px;

    border-radius: 4px 4px 0 0;
    
    background-color: white;    
}

.app .container .view .actions .row {
    display: flex;
    justify-content: space-between;
}

.app .container .view .actions .row .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.app .container .view .actions .selected-funds h3 {
    font-size: 12px;
    color: var(--lightblue);
}

app-grid {
    display: contents;
}