<div [className]="'app'">
    <app-header></app-header>
    <div [className]="'container'">
        <app-sidebar></app-sidebar>

        <div [className]="'view'">
            <div [className]="'actions'">
                <div [className]="'row'">
                    <app-date-picker></app-date-picker>
                    <div [className]="'buttons'">
                        <app-button text="action one"></app-button>
                        <app-button text="action two"></app-button>
                    </div>        
                </div>
                <div [className]="'selected-funds'">
                    <app-autocomplete></app-autocomplete>
                    <app-selected-funds></app-selected-funds>
                </div>
            </div>
            <app-grid></app-grid>
            <app-grid-header text="Momentum Exceptions"></app-grid-header>
            <app-grid-header text="Momentum Ratings"></app-grid-header>
        </div>
    </div>
</div>