<div [className]="'app'">
    <app-header></app-header>
    <div [className]="'container'">

        <div [className]="'view'">
            <div [className]="'actions'">
                <div [className]="'row'">
                    <app-date-picker></app-date-picker>
                    <div [className]="'buttons'">
                        <app-button></app-button>
                        <app-button></app-button>
                    </div>        
                </div>
                <div [className]="'selected-funds'">
                    <app-autocomplete></app-autocomplete>
                    <app-selected-funds></app-selected-funds>
                </div>
            </div>
            <app-grid></app-grid>
        </div>
    </div>
</div>