.app > .container {
    display: flex;
    justify-content: center;

    margin-top: -24px;
}

.app .container .view {
    display: flex;
    flex-direction: column;

    width: 1287px;

    margin-right: 24px;
    margin-left: 10px;
    padding: 24px;

    border-radius: 4px 4px 0 0;

    background-color: white;
}

app-grid {
    display: contents;
}

app-fund {
    height: 100%;
}

app-blank {
    height: 100%;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e0e0;
    border-radius: 4px;
}
