.app > .container {
    display: flex;
    justify-content: space-between;

    margin-top: -24px;
}

.app .container .view {
    width: 1278px;

    margin-right: 24px;
    margin-left: 10px;
    padding: 24px;
    
    background-color: white;    
}

.app .container .view .actions .row {
    display: flex;
    justify-content: space-between;
}

.app .container .view .actions .row .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.app .container .view .actions .selected-funds h3 {
    font-size: 12px;
    color: var(--lightblue);
}