// recolor hover colors
.ag-theme-alpine {
    --ag-header-cell-hover-background-color: rgb(233, 235, 236);
    --ag-header-cell-moving-background-color: rgb(233, 235, 236);
}

// animations for toggling grid view
ag-grid-angular.closing {
    animation: minimize-container 0.5s ease;
}
ag-grid-angular.opening {
    animation: minimize-container 0.5s reverse ease;
}
ag-grid-angular.closed {
    height: 0 !important;
}

@keyframes minimize-container {
    100% {
        height: 0px;
    }
}
