<div [ngClass]="{ 'sidebar': true, 'closed': closed, 'closing': closing, 'opening': opening }">
    <ul>
        <li class="toggle">
            <mat-icon (click)="toggleSidebar()" *ngIf="closed" aria-hidden="false" aria-label="Toggle sidebar" fontIcon="navigate_next"></mat-icon>
            <mat-icon (click)="toggleSidebar()" *ngIf="!closed" aria-hidden="false" aria-label="Toggle sidebar" fontIcon="navigate_before"></mat-icon>
        </li>
        <li [ngClass]="{'link': true, 'active': selectedTab === 'dashboard'}" (click)="selectTab('dashboard')">
            <img src="/assets/dashboard_icon-white-24px.svg" alt="Click for Dashboard">
            <h3 *ngIf="!closed">Dashboard</h3>
        </li>
        <li [ngClass]="{'link': true, 'active': selectedTab === 'fund'}" (click)="selectTab('fund')">
            <img src="/assets/Fund_CCY_Date_icon-white-24dp.svg" alt="Click for Fund">
            <h3 *ngIf="!closed">Fund</h3>
        </li>
        <li [ngClass]="{'link': true, 'active': selectedTab === 'summary'}" (click)="selectTab('summary')">
            <img src="/assets/summary_by_fund-white-24px.svg" alt="Click for Summary by Fund">
            <h3 *ngIf="!closed">Summary by Fund</h3>
        </li>
        <li [ngClass]="{'link': true, 'active': selectedTab === 'custom'}" (click)="selectTab('custom')">
            <img src="/assets/custom_view-white-24dp.svg" alt="Click for Custom View">
            <h3 *ngIf="!closed">Custom View</h3>
        </li>
    </ul>
</div>
