// Sidebar styling
.sidebar {
    height: 90vh;
    margin-left: 24px;
    width: 271px;
    border: 2px solid white;
    background-color: #052950;
    color: #ffffff;
    box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.2);
}
.sidebar ul {
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    background: linear-gradient(90deg, #052950 0%, #052950 100%);
}

// Closing and Opening animations and view changes
.sidebar.opening ul li h3 {
    animation: disappear-text 0.5s reverse ease;
}
.sidebar.opening {
    animation: minimize-container 0.5s reverse ease;
}
.sidebar.closing {
    animation: minimize-container 0.5s ease;
}
.sidebar.closing ul li h3 {
    animation: disappear-text 0.5s ease;
}
.sidebar.closed {
    width: 70px;
}
.sidebar.closed ul li {
    display: flex;
    align-items: center;
    justify-content: center !important;
    padding: 10px 0;
    cursor: pointer;
}

// Toggle arrow styling and animations
.sidebar ul li.toggle {
    display: flex;
    justify-content: flex-end;
    margin: 5px 15px 0 0;
}
.sidebar.closing ul li.toggle mat-icon {
    animation: flip-arrow 0.5s ease;
}
.sidebar.opening ul li.toggle mat-icon {
    animation: flip-arrow 0.5s reverse ease;
}
.sidebar.closed ul li.toggle {
    margin-right: 0;
}

// Hovering link animations
.sidebar ul li.link::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(1, 80, 131, 1) 0%, rgba(29, 140, 169, 1) 100%);
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
}
.sidebar ul li.link:hover::before {
    opacity: 1;
}
.sidebar ul li.active {
    background: linear-gradient(90deg, rgba(1, 80, 131, 1) 0%, rgba(29, 140, 169, 1) 100%);
}
.sidebar ul li img {
    margin: 5px 23px;
}
.sidebar ul li h3 {
    color: white;
    margin: 0;
    font-weight: 400;
    white-space: nowrap;
}

// Animations for toggling sidebar
@keyframes minimize-container {
    0% {
        width: 271px;
    }
    100% {
        width: 70px;
    }
}
@keyframes disappear-text {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes flip-arrow {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 180deg;
        margin-right: 8px;
    }
}

@media (max-width: 1440px) {
    .sidebar ul li h3 {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .sidebar {
        width: 70px;
    }

    .sidebar ul li.toggle,
    .sidebar ul li h3 {
        display: none;
    }
}
