<mat-form-field>
  <mat-label>Autocomplete Funds Clients</mat-label>
  <mat-chip-grid #chipGrid aria-label="Fund selection">
    <mat-chip-row *ngFor="let fund of selectedFunds" (removed)="remove(fund)">
      <button matChipRemove [attr.aria-label]="'remove ' + fund">
        <mat-icon>cancel</mat-icon>
      </button>
      {{fund}}
    </mat-chip-row>
  </mat-chip-grid>
  <input placeholder="New Fund..." #fundInput [formControl]="fundCtrl"
    [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"/>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" (optionSelected)="add($event)" 
  hideSingleSelectionIndicator>
  <mat-option *ngFor="let fund of filteredFunds | async" [value]="fund">
    <mat-checkbox [checked]="selectedFunds.includes(fund)">
      {{fund}}
    </mat-checkbox>
  </mat-option>
</mat-autocomplete>
<!-- 
    <mat-select [formControl]="fundsControl" multiple>
      <mat-select-trigger>
        <mat-chip-listbox>
          <mat-chip class="chosen-chip" *ngFor="let fund of fundsControl.value"
            [removable]="true" 
            
            (chipEnd)="onFundChanged()"
            (removed)="onFundRemoved(fund)">
            <mat-icon matChipRemove>cancel</mat-icon>
            {{ fund }}
          </mat-chip>
        </mat-chip-listbox>
      </mat-select-trigger>
      <mat-option *ngFor="let fund of fundsList" [value]="fund">{{fund}}</mat-option>
    </mat-select>
  </mat-form-field>

   -->