mat-form-field {
    width: 778px;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    background-color: var(--lightblue);
    border-radius: 1px;
}

.mat-mdc-chip-remove {
    opacity: 0.9;
}

.mat-mdc-standard-chip {
    --mdc-chip-label-text-color: #fff;
    --mdc-chip-with-trailing-icon-trailing-icon-color: #fff;
}

.mdc-form-field > label {
    width: 1000% !important;
}

.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
    color: var(--darkblue);
}

// .mdc-evolution-chip {
//     display: flex;
//     flex-direction: row-reverse;
// }

// .mdc-evolution-chip > span {
//     padding-right: 12px;
//     padding-left: 0;
// }

// .mat-mdc-autocomplete-panel {
//     padding: 0;
// }
